## 구단 별, 시즌 별 홈 원정 승률 구하기

홈, 원정은 승률에 영향을 많이 미치는 요인일까?
코로나로 인한 무관중시즌도 어느정도 홈 어드벤티지일까?

In [1]:
import pandas as pd

PATH = "../DATA/2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분/"

team_pitcher_2016 = pd.read_csv(PATH + '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2016.csv', encoding='utf-8-sig', engine='python')
team_pitcher_2017 = pd.read_csv(PATH + '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2017.csv', encoding='utf-8-sig', engine='python')
team_pitcher_2018 = pd.read_csv(PATH + '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2018.csv', encoding='utf-8-sig', engine='python')
team_pitcher_2019 = pd.read_csv(PATH + '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2019.csv', encoding='utf-8-sig', engine='python')
team_pitcher_2020 = pd.read_csv(PATH + '2020빅콘테스트_스포츠투아이_제공데이터_팀투수_2020.csv', encoding='utf-8-sig', engine='python')
team_pitcher_list = [team_pitcher_2016, team_pitcher_2017, team_pitcher_2018, team_pitcher_2019, team_pitcher_2020]
team_pitcher = pd.concat(team_pitcher_list)

In [2]:
team_pitcher.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,0,W,0,36,...,10,1,0,0,0,4,4,0.642857,1.285714,2.400000
1,20160401HHLG0,20160401,HH,LG,0,T,0,L,0,34,...,11,0,1,0,0,5,4,1.500000,1.000000,0.750000
2,20160401HTNC0,20160401,NC,HT,0,B,0,W,0,27,...,10,1,2,0,0,4,4,1.333333,1.038462,2.142857
3,20160401HTNC0,20160401,HT,NC,0,T,0,L,0,24,...,9,1,0,0,0,5,5,0.500000,1.695652,1.875000
4,20160401KTSK0,20160401,SK,KT,0,B,0,L,0,27,...,7,0,0,0,0,8,8,1.000000,2.357143,2.250000

### team_pitcher에 WLS에서 그 팀의 승패가 나와있음

### team_pitcher에 TB_SC에서 초에 공격했으면 원정팀 말에 공격했으면 홈팀

In [3]:
game_result = team_pitcher[['GDAY_DS','T_ID','VS_T_ID','TB_SC','WLS']]
game_result.head()

    GDAY_DS T_ID VS_T_ID TB_SC WLS
0  20160401   LG      HH     B   W
1  20160401   HH      LG     T   L
2  20160401   NC      HT     B   W
3  20160401   HT      NC     T   L
4  20160401   SK      KT     B   L

In [4]:
new_columns = "일자,팀코드,상대팀코드,초말,승패"
new_columns = new_columns.split(',')
game_result.columns = new_columns
game_result.head()

         일자 팀코드 상대팀코드 초말 승패
0  20160401  LG    HH  B  W
1  20160401  HH    LG  T  L
2  20160401  NC    HT  B  W
3  20160401  HT    NC  T  L
4  20160401  SK    KT  B  L

### 일자 변환, 시즌 column 추가

In [5]:
game_result['일자'] = pd.to_datetime(game_result['일자'],format='%Y%m%d', errors='raise')
game_result['시즌'] = game_result['일자'].dt.year
game_result.head()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

          일자 팀코드 상대팀코드 초말 승패    시즌
0 2016-04-01  LG    HH  B  W  2016
1 2016-04-01  HH    LG  T  L  2016
2 2016-04-01  NC    HT  B  W  2016
3 2016-04-01  HT    NC  T  L  2016
4 2016-04-01  SK    KT  B  L  2016

## 1. 구단별 홈, 어웨이 승률 구하기

홈승률 =  홈에서 승/(홈에서 승 + 홈에서 패)                     
어웨이 승률 = 원정 승/(원정 승 + 원정 패)

In [6]:
def home_away_winrate(df, season):
    new = {}
    team_list = ['WO','OB','NC','SK','LG','KT','LT','HT','SS','HH']
    home_rate_list=[]
    away_rate_list=[]
    df = df[df['시즌'] == season]
    for team in team_list:
        df_team = df[df['팀코드'] == team]
        home_win=0
        home_lose=0
        home_draw = 0
        away_win=0
        away_lose=0
        away_draw = 0
        for i, row in df_team.iterrows():
            if df_team.at[i,'초말'] == 'B':
                if df_team.at[i,'승패'] == 'W':
                    home_win+=1
                elif df_team.at[i,'승패'] == 'L':
                    home_lose+=1
                else:
                    home_draw+=1
            elif df_team.at[i,'초말'] == 'T':
                if df_team.at[i,'승패'] == 'W':
                    away_win+=1
                elif df_team.at[i,'승패'] == 'L':
                    away_lose+=1
                else:
                    away_draw+=1
        home_rate = home_win/(home_win+home_lose)
        away_rate = away_win/(away_win+away_lose)
        home_rate_list.append(home_rate)
        away_rate_list.append(away_rate)
    col1_name = '홈승률'+str(season)
    col2_name = '원정승률'+str(season)
    new['구단'] = team_list
    new[col1_name] = home_rate_list
    new[col2_name] = away_rate_list
    df_new = pd.DataFrame(new)
    return df_new

## 2. 1을 이용해 구단의 시즌별 승률 구하기

In [7]:
def home_away_winrate_season(df):
    seasons = [2016,2017,2018,2019,2020]
    first = True
    for season in seasons:
        df_season = home_away_winrate(df, season)
        if first:
            ha_winrate = df_season
            first = False
        else:
            ha_winrate=pd.merge(ha_winrate,df_season)
    return ha_winrate

# 결과

In [8]:
home_away_winrate_season(game_result)

,구단,홈승률2016,원정승률2016,홈승률2017,원정승률2017,홈승률2018,원정승률2018,홈승률2019,원정승률2019,홈승률2020,원정승률2020
0,WO,0.611111,0.464789,0.557143,0.416667,0.513889,0.527778,0.633803,0.569444,0.696970,0.454545
1,OB,0.647887,0.652778,0.565217,0.625000,0.708333,0.583333,0.652778,0.577465,0.586207,0.600000
2,NC,0.557143,0.619718,0.619718,0.500000,0.458333,0.352113,0.571429,0.458333,0.709677,0.666667
3,SK,0.486111,0.472222,0.583333,0.464789,0.583333,0.507042,0.619718,0.611111,0.393939,0.250000
4,LG,0.571429,0.430556,0.527778,0.449275,0.549296,0.402778,0.577465,0.527778,0.500000,0.586207
5,KT,0.388889,0.357143,0.375000,0.319444,0.442857,0.394366,0.577465,0.422535,0.562500,0.419355
6,LT,0.555556,0.361111,0.642857,0.486111,0.472222,0.485714,0.408451,0.271429,0.620690,0.363636
7,HT,0.527778,0.450704,0.625000,0.591549,0.597222,0.375000,0.541667,0.328571,0.645161,0.419355
8,SS,0.472222,0.436620,0.400000,0.391304,0.478261,0.492958,0.500000,0.338028,0.583333,0.448276
9,HH,0.514286,0.422535,0.422535,0.436620,0.597222,0.472222,0.430556,0.375000,0.300000,0.228571